:root{
	--black: #191414;
	--green: #1db954;
	--white: #ffffff;
	--grey: #989898;
	}

@font-face {
	font-family: gothamMax;
	src: url(font/GothamBold.ttf);
	}
@font-face {
	font-family: gothamMid;
	src: url(font/GothamMedium.ttf);
	}
@font-face {
	font-family: gothamMin;
	src: url(font/GothamBook.ttf);
	}
html{
	margin: 0;
	padding: 0;
	}
body{
	background-color: var(--black);
	color: var(--white);
	}
h1{
	font-size: 1.5rem;
	font-family: gothamMax;
	}
h2{
	font-size: 1rem;
	font-family: gothamMid;
	}
p{
	font-size: 0.8rem;
	font-family: gothamMin;
	}

/*Navbar css-----------------------------------------navbar css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gothamMid;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  padding: 0  50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: var(--grey);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: var(--black);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: var(--white);
    font-size: 23px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

/*----HOMEPAGE--------------------HOPEPAGE----------------*/
#main-page{
	background-image: url(img/homepage.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	}
#hero{
	padding: 35vh 0 0;
	text-align: center;
	}
#hero-slogan{
	max-width: 300px;
	margin: 0 auto;}
#hero h1{
	font-size: 2.5rem;
	line-height: 1.3;
	}
#hero-info{
	margin: 5vh;
	}
#hero-info p{
	font-size: 1rem;
	}
#hero-button{
	background-color: var(--white);
	color: var(--black);
	width: 200px;
	margin: 3vh auto;
	padding: 15px;
	border-radius: 30px;
	text-align: center;
	}
#hero-button a h2{
	text-decoration: none;}

/*------------other----------------other------------*/

	body{
		line-height: 1.5;
		font-family: gothamMin;
	}
	*{
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	.container{
		max-width: 1170px;
		margin:auto;
	}
	.row{
		display: flex;
		flex-wrap: wrap;
	}
	#other ul{
		list-style: none;
	}
	#other li{
		text-align: justify;
	}
	.footer{
		background-color: black;
		padding: 70px 0;
	}
	.footer-col{
	   width: 25%;
	   padding: 0 15px;
	}
	.footer-col h4{
		font-size: 1.4rem;
		color: #ffffff;
		text-transform: capitalize;
		margin-bottom: 35px;
		font-weight: 500;
		position: relative;
	} 
	.footer-col ul li:not(:last-child){
		margin-bottom: 10px;
	}
	.footer-col ul li a{
		font-family: gothamMin;
		font-size: 0.8rem;
		text-transform: capitalize;
		color: #ffffff;
		text-decoration: none;
		font-weight: 300;
		color: #bbbbbb;
		display: block;
		transition: all 0.3s ease;
	}
	.footer-col ul li a:hover{
		color: #ffffff;
		padding-left: 8px;
	}
	.footer-col .social-links a{
		display: inline-block;
		height: 40px;
		width: 40px;
		background-color: rgba(255,255,255,0.2);
		margin:0 10px 10px 0;
		padding: 12px;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		color: #ffffff;
		transition: all 0.5s ease;
	}
	.footer-col .social-links a:hover{
		color: #24262b;
		background-color: #ffffff;
	}

	@media(max-width: 767px){
	  .footer-col{
		width: 50%;
		margin-bottom: 30px;
	}
	}
	@media(max-width: 574px){
	  .footer-col{
		width: 100%;
	}
	}





